<div id="post-content" class="mdl-color-text--grey-700 mdl-card__supporting-text fade out">
    <% if(theme.scheme === 'Paradox') { %>
        <%- page.content %>
        <!-- 增加点赞功能 by hatlonely -->
        <div id="post-dolike" islike="false"><i id="post-dolike-thumb" class="material-icons like-hover">thumb_up</i></div>
        <script>
            $(document).ready(function() {
                $.ajax({
                    url: "<%= theme.comment_like.host %>/api/showlike",
                    data: {
                        title: "<%= page.title %>"
                    },
                    type: 'GET',
                    dataType: 'JSON',
                    success: function(res) {
                        if (res.islike) {
                            $('#post-dolike-thumb').css('color','#c4291c')
                            $('#post-dolike-thumb').prop('islike', true)
                        } else {
                            $('#post-dolike-thumb').css("color","#758591");
                            $('#post-dolike-thumb').prop('islike', false)
                        }
                    },
                    async: true
                });

                $('#post-dolike-thumb').click(function() {
                    if ($('#post-dolike-thumb').prop('islike')) {
                        url = "<%= theme.comment_like.host %>/api/dounlike"
                        $('#post-dolike-thumb').css('color', '#758591')
                        $('#post-dolike-thumb').prop('islike', false)
                    } else {
                        url = "<%= theme.comment_like.host %>/api/dolike"
                        $('#post-dolike-thumb').css('color','#c4291c')
                        $('#post-dolike-thumb').prop('islike', true)
                    }
                    $.ajax({
                        url: url,
                        data: {
                            title: "<%= page.title %>"
                        },
                        type: 'GET',
                        dataType: 'JSON',
                        success: function(res) {
                        },
                        async: true
                    });

                    return false;
                });
            });
        </script>

        <% if (page.hide_license !== true && theme.license || page.license) { %>
                <blockquote style="margin: 2em 0 0;padding: 0.5em 1em;border-left: 3px solid #F44336;background-color: #F5F5F5;list-style: none;">
                    <p><strong>
                        <% if (page.license) { %>
                            <%- page.license %>
                        <% } else { %>
                            <%- theme.license %>
                        <% } %></strong>
                        <br>
                        <strong><%- __('post.permalink') %></strong><a href="<%= page.permalink %>"><%= page.permalink %></a>
                    </p>
                </blockquote>
        <% } %>
    <% } %>

    <% if(theme.scheme === 'Isolation') { %>
        <div class="post-content_wrapper">
            <p class="post-title">
                <%- page.title %>
            </p>
            <%- page.content %>
            <% if (page.license || theme.license) { %>
                <blockquote>
                    <p>
                        <% if (page.license) { %>
                            <%- page.license %>
                        <% } else { %>
                            <%- theme.license %>
                        <% } %>
                        <br>
                        <%- __('post.permalink') %> <%= page.permalink %>
                    </p>
                </blockquote>
            <% } %>
        </div>
    <% } %>
</div>
